/*general styles*/

body{
    background-color:rgb(4, 4, 45);
    font-family: 'Zeyada', cursive;
}

h1, h2, h3, h4, p {
    color:rgb(214, 177, 96)
}
h1{
    font-size: 52pt;
    padding:10px;
}
h2{
font-size: 24pt;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
p {  font-size:18pt;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*specific styles*/
.box {
    background-color: rgb(4, 4, 45);
    color:rgb(214, 177, 96);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
    border-color: black;
  }
.spacer {
    margin-top: 40px;
  }
img, #discoball{
    width:100px;
    height:100px;
    padding-top: 20px;
}
#danceFloor {
  width: 980px;
  height:780px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  border:solid cornflowerblue;
  background-image:url(../img/Dancefloor.gif);
  background-repeat: no-repeat;
  padding-right:0px;
}

button {
  background-color:rgb(214, 177, 96);
  color:rgb(4, 4, 45);
  padding: 15px,15px,15px,15px;
  font-size:16pt;
  border-radius:15%;

}

.the-band{
  display:block;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  background-color: rgb(47, 27, 72);
  border:solid cornflowerblue;
 cursor:pointer;
}

#theSynth{
  width: 300px;
  height:300px;
 
}
#boomBox{
  width: 300px;
  height:300px;
}
#thePiano{
  width: 300px;
  height:300px;

}
#theDrum{
  width: 300px;
  height:300px;
}