/*general styles*/

body{
    background-color:rgb(4, 4, 45);
    font-family: 'Zeyada', cursive;
}

h1, h2, h3, h4, p {
    color:rgb(214, 177, 96)
}
h1{
    font-size: 52pt;
    padding:10px;
}
h2{
font-size: 24pt;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.box {
    background-color: rgb(4, 4, 45);
    color:rgb(214, 177, 96);
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom:10px;
    border-color: black;
  }
.spacer {
    margin-top: 40px;
  }
img, #discoball{
    width:100px;
    height:100px;
    padding-top: 20px;
}
#dancefloor{
  width: 1200px;
  height:800px;
  border-color:cornflowerblue;
  background-image:url(../img/Dancefloor.gif);
  background-repeat: no-repeat;
}

button {
  background-color:rgb(214, 177, 96);
  color:rgb(4, 4, 45);
  padding: 15px,15px,15px,15px;
  font-size:16pt;
  border-radius:15%;

}

.the-band{
  display:block;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  border:solid rgb(214, 177, 96);
}

#theSynth{
  width: 300px;
  height:300px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  border:solid rgb(214, 177, 96);
  border-radius:15%;
  background-color: rgb(97, 107, 214);
}
#boomBox{
  width: 300px;
  height:300px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  border:solid rgb(214, 177, 96);
  border-radius:15%;
  background-color: rgb(97, 107, 214);
}
#thePiano{
  width: 300px;
  height:300px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  border:solid rgb(214, 177, 96);
  border-radius:15%;
  background-color: rgb(97, 107, 214);
}
#theDrum{
  width: 300px;
  height:300px;
  margin-top:10px;
  margin-bottom:10px;
  margin-left:10px;
  margin-right:10px;
  border:solid rgb(214, 177, 96);
  border-radius:15%;
  background-color: rgb(97, 107, 214);
}